{{ "<!-- ASIDE -->" | safeHTML }}
<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            {{ with .Site.Params.aside.headline }}<h2>{{ . | markdownify }}</h2>{{ end }}
            {{ with .Site.Params.aside.text }}<div>{{ . | markdownify }}</div>{{ end }}
            <br />
            {{ with .Site.Params.aside.list }}<div>{{ . | markdownify }}</div>{{ end }}
            <br />
            {{ if and .Site.Params.aside.button.link .Site.Params.aside.button.text }}
                <a href="{{ .Site.Params.aside.button.link }}" class="btn btn-default btn-xl wow tada">{{ .Site.Params.aside.button.text }}</a>
            {{ end }}
        </div>
    </div>
</aside>
