{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Patrocínio Ouro</h2>
                <hr class="light">
                <p>
                <center><img src="img/patro_enseada.jpg" class="img-responsive" alt="Patrocinador Ouro"/></center>
              </p>
            </div>
            <div class="col-lg-6 col-lg-offset-3 text-center">
              <h2 class="section-heading">Patrocínio Prata</h2>
              <hr class="light">
              <center><img src="img/patro_delorenzo.jpg" class="img-responsive" alt="Patrocinador Prata"/></center>
            </div>
        </div>
    </div>
</section>
